/* src/scss/parts/_header.scss */

#header {

	height: 84px;
	border-bottom: 1px solid $azul;

	.logo
	{
		position: absolute;
		top: 25px;
		left: 0;
		@include single-background("/img/header_logo.png");
		width: 178px;
		height: 37px;
	}

	.menu 
	{
		position: absolute;
		top: 32px;
		right: 0;
		font-size: 12px;

		button
		{
			@include border-radius(5px);
			border: none;
			background: #000000;
			color: white;
			padding: 7px 22px 9px 22px;
		}

		li, button, ul
		{
			color: $azul;
			display: inline-block;
			margin: 0 10px;
			text-transform: uppercase;
			font-weight: 400;
		}

		button
		{
			font-size: 15px;
			color: white;
			margin: 0 0 0 6px;
			text-transform: lowercase;
			background-color: $azul;
			font-weight: 300;
		}

		button.gray
		{
			background-color: #a9a9a9;
		}
	}
}