/* src/scss/parts/_header.scss */

#header {

	height: 50px;

	.logo
	{
		position: absolute;
		top: 2px;
		left: 0;
		@include single-background("/img/header_logo.png");
		width: 178px;
		height: 37px;
	}

	.menu 
	{
		position: absolute;
		top: 2px;
		right: 0; 

		li, button, ul
		{
			display: inline-block;
		}
	}
}