/* src/scss/parts/_plans.scss */
.planos-base
{
	width: 48%;
}

.planos
{
	@include single-background('/img/banner_bg.jpg');
	background-position: center; 
	height: 638px;
	
	.saude
	{
		@extend .planos-base;
		float: left;
	}

	.farma
	{
		@extend .planos-base;
		float: right;
		text-align: right;
	}
}
